@import "tailwindcss";

@theme {
    --color-brand-50: #f0fdfd;
    --color-brand-100: #ccfbf1;
    --color-brand-400: #4cd8d6;
    --color-brand-500: #38CAC8;
    --color-brand-600: #2ba8a6;
    --color-brand-700: #238786;
    --color-brand-900: #144d4c;
    --color-brand-950: #0a2d2c;
}

.unselectable {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Safari */
    -khtml-user-select: none;    /* Konqueror HTML */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;          /* Non-prefixed version */
}

/* Sembunyikan konten jika halaman diprint / dicetak ke PDF */
@media print {
    body {
        display: none !important;
    }
}